.ShowG{
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

}
.grados{
    display: flex;
    position: relative;
    font-size: 8rem;
    font-weight: 600;
    color: white;
    padding: 0;
    margin: 0;
    z-index: 2;}


.temp{
    z-index: 2;
    color: white;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.Status{
    color: white;
    width: 3rem;
    z-index:2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    font-size: 2rem;

}








